__pycache__/
*.pyc
*.pyo
venv/
env/
equity_alpha_env/
.ipynb_checkpoints/
*.json
*.tmp
.DS_Store
Thumbs.db
*.sqlite3
*.db
token.json
.vscode/
.idea/

.streamlit/

# Allow infrastructure JSON files
!infra/**/*.json

# Allow log files in data_pipeline/logs
!data_pipeline/logs/*.log

# Allow data files in data_pipeline/data
!data_pipeline/data/*
